@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-sm: 376px;
  --animate-fade-in: fade-in 500ms ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-12px) translateZ(0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}

* {
  box-sizing: border-box;
}
