@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  font-family: "Manrope", sans-serif;
}

@theme {
  --animate-infinite-scroll: infinite-scroll 30s linear infinite;
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
